@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <footer class="app-footer">
        <span>DermaUH &copy; @DateTime.Now.Year</span>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
