<nav class="navbar-top">
    <div class="navbar-container">
        <a class="navbar-brand" href="">
            <span class="brand-icon">🩺</span> DermaUH
        </a>

        <input type="checkbox" id="nav-toggle" class="navbar-toggler" title="Navigation menu" />
        <label for="nav-toggle" class="toggler-label">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <div class="nav-links">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Inicio
            </NavLink>
            <NavLink class="nav-link" href="images">
                Imágenes
            </NavLink>
            <NavLink class="nav-link" href="institutions">
                Instituciones
            </NavLink>
            <NavLink class="nav-link" href="users">
                Usuarios
            </NavLink>
        </div>
    </div>
</nav>

